h1 {
    background-color: darkgrey;
    color: darkgreen;
    text-align: justify;
    margin: 40px;
    padding: 20px;
    border: 10px;
}

p {
    color: yellow;
    background-color: bisque;
}

h2 {
    color: brown;
    background-color: aquamarine;
    border: 20px;
}